<div class="card mb-3 mx-3">
  <div class="card-body">
    <% if user_signed_in?%>
      <div class="mb-3 mx-3">
        <label for="exampleFormControlInput1" class="form-label">Add a comment as user <%=User.find(current_user.id).name%>, ID: <%=current_user.id%>:</label>
      </div>
    <% end%>
    <%= form_with(model: [ commentable, Comment.new(commentable: commentable) ], local: true) do |form| %>
      <div class="field">
        <%= form.text_area :body, class: "form-control" %>
      </div>
      <% if user_signed_in?%>
      <div class="field">
        <%= form.number_field :user_id  , class: "form-control", value: current_user.id, type: :hidden%>
      </div>
      <% end%>
      <div class="actions text-end mx-3">
        <%= form.submit "Comment", class: "btn btn-primary"%>
      </div>
    <% end %>
  </div>
</div>
