<div id="<%= dom_id post %>">
  <div class="card mx-3 mb-3" style="width: 18rem;">
    <%if post.image.present?%>
      <%=image_tag(post.image, class: "card-img-top")  %>
    <%else%>
      <p>There is not image to show</p>
    <%end%>
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= post.body %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Created at: <%=post.created_at%></li>
      <li class="list-group-item">Post ID: <%=post.id%></li>
      <% if @users.present? %>
      <li class="list-group-item">By user ID: <%=post.user_id%>, User photo: <%=image_tag @users.find(post.user_id).avatar , id: "mini_avatar"%></li>
     <% else %>
     <li class="list-group-item">By user ID: <%=post.user_id%>, User photo: <%=image_tag User.find(post.user_id).avatar , id: "mini_avatar"%></li>
     <% end%>
      <% if @post.present? %>
      
        <li class="list-group-item">How many likes: <%=@post.likes.count %></li>
      <% else %>
        <li class="list-group-item">How many likes: <%= @likes.where(post_id: post.id).count%></li>
        
      <% end%>
      <%if user_signed_in?%>
      <% like = current_user.likes.find_by(post: @post)%>
      <%end%>
      <%if @post.present?%>
        <% if like.nil?%>
          <li class="list-group-item"><%= button_to "like", likes_path, params: {like:{post_id:@post.id}},method: :post	 ,class: "btn btn-primary"%></li>
        <% else%>
          <li class="list-group-item"><%= button_to "unlike", like_path(like), method: :delete,class: "btn btn-primary"	 %> </li>
        <% end%>
        <li class="list-group-item"><%= link_to "Edit this post", edit_post_path(@post),class: "btn btn-primary" %> </li>
        <li class="list-group-item"><%= button_to "Destroy this post", @post, method: :delete ,class: "btn btn-danger"%> </li>
      <% end%>
      <%= link_to "Show this post", post, class: "btn btn-success" %>
    </ul>
  </div>
</div>
